@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arte";
  src: url("/fonts/Brown-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground: #FFFFFF; /* Adjust this color to fit the gradient */
  --background: linear-gradient(135deg, #4a00e0, #ff0080, #ff8c00, #ffd700); /* Gradient recreated */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(135deg, #190095, #3C14FF, #1E90FF, #87CEFA);
  font-family: "Arte", sans-serif;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes circlePulseAnimation {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.4);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

@keyframes squarePulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}
